:root {
    --primary-color: #41C2CB;
    --secondary-color: #80D6DC;
}

* {
    box-sizing: border-box;
}

body {
    background: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}